#cookieChoiceInfo {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: small !important;
    opacity: 0;
    transition: opacity 2s linear
}

.initialized #cookieChoiceInfo {
    opacity: 1;
}

#cookieChoiceInfo > div {
    padding-right: 0 !important;
}

#cookieChoiceInfo a {
    text-decoration: underline !important;
    text-decoration: underline dotted !important;
}

#cookieChoiceDismissIcon {
    display: none !important;
}

#cookieChoiceDismiss {
    margin-left: 8px !important;
}

.home #cookieChoiceInfo {
    background-color: rgb(8, 16, 24) !important;
    background-color: rgba(8, 16, 24, 0.8) !important;
    color: rgb(235, 245, 255) !important;
}

.home #cookieChoiceInfo a {
    color: rgb(207, 223, 239) !important;
}

.home #cookieChoiceInfo a:hover,
.home #cookieChoiceInfo a:focus,
.home #cookieChoiceInfo a:active {
    color: rgb(159, 191, 223) !important;
}

.blog #cookieChoiceInfo a {
    color: rgb(24, 90, 156) !important;
}

.blog #cookieChoiceInfo a:hover,
.blog #cookieChoiceInfo a:focus,
.blog #cookieChoiceInfo a:active {
    color: rgb(102, 153, 204) !important;
}

@media (max-width: 768px) {
    #cookieChoiceInfo div::before {
        content: '\01F36A\a0Utilizamos cookies.';
        display: inline;
        visibility: visible;
    }

    #cookieChoiceInfo span {
        display: none;
        visibility: hidden;
    }
}